@mixin visuallyHiddenMix {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@mixin tab-medium {
	padding: 9px 23px;

	& .destinationName {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
	}

	& .routeText {
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
	}
}

@mixin tab-large {
	padding: 11px 31px;

	& .destinationName {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
	}

	.routeText {
		font-size: 14px;
		line-height: 20px;
		font-weight: 500;
	}
}

.destination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	border-radius: 110px;

	& input {
		margin: 0;
		@include visuallyHiddenMix;
	}

	& span {
		display: block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}
}

.auto-width {
	width: max-content;
}

.full-width {
	width: 100%;
}

.medium-size {
	@include tab-medium;
}

.large-size {
	@include tab-large;
}

.whiteStroke {
	color: #353945;
	border: 1px solid #f4f5f6;

	&:hover {
		border: 1px solid #b1b5c3;
	}

	&:active {
		background-color: #e6e8ec;
	}

	.routeText {
		color: #777e90;
	}

	.routeWrapper {
		color: #777E90;
	}

	&:has(input:checked) {
		border: 1px solid #141416;
		background-color: #141416;
		color: #ffffff;

		&:hover {
			border: 1px solid #353945;
			background-color: #23262F;
		}

		&:active {
			background-color: #353945;
			border: 1px solid #777E90;
		}

		.routeText {
			color: #B1B5C3;
		}

		.routeWrapper {
			color: #B1B5C3;
		}
	}
}

.routeWrapper {
	display: flex;
	gap: 4px;
	justify-content: space-between;
	align-items: center;
}

@media(min-width: 1024px) {
	.medium-size_m {
		@include tab-medium;
	}

	.large-size_m {
		@include tab-large;
	}
}

@media(min-width: 1440px) {
	.medium-size_l {
		@include tab-medium;
	}

	.large-size_l {
		@include tab-large;
	}
}