@mixin button-tiny {
	width: 24px;
	height: 24px;
	padding: 4px 5px 6px;
}

@mixin button-small {
	width: 32px;
	height: 32px;
}

@mixin button-medium {
	width: 40px;
	height: 40px;
	padding: 9px;
}

@mixin button-large {
	width: 48px;
	height: 48px;
	padding: 11px;
}

.btnRound {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 7px;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;

	&:disabled {
		opacity: 0.4;
	}

	&:focus {
		outline: 0;
	}
}

.tiny-size {
	@include button-tiny;
}

.small-size {
	@include button-small;
}

.medium-size {
	@include button-medium;
}

.large-size {
	@include button-large;
}

.whiteStroke {
	border: 1px solid #e6e8ec;
	background-color: #ffffff;
}

.blackFill {
	border: 1px solid #141416;
	background-color: #141416;
}

.blackStroke {
	border: 1px solid #141416;
	background-color: #ffffff;

	& div {
		color: #141416;
	}
}

.fullGray {
	border: 1px solid #F4F5F6;
	background-color: #F4F5F6;

	& div {
		color: #141416;
	}
}

.blue {
	border: 1px solid #015FF9;
	background-color: #015FF9;
}

@media(min-width: 1024px) {
	.tiny-size_m {
		@include button-tiny;
	}

	.small-size_m {
		@include button-small;
	}

	.medium-size_m {
		@include button-medium;
	}

	.large-size_m {
		@include button-large;
	}

	.whiteStroke {
		&:hover {
			border: 1px solid #b1b5c3;
		}

		&:active {
			border: 1px solid #141416;
		}
	}

	.blackFill {
		&:hover {
			background: #23262F;
			border: 1px solid #353945;
		}

		&:active {
			background: #353945;
			border: 1px solid #777E90;
		}
	}
}

@media(min-width: 1440px) {
	.tiny-size_l {
		@include button-tiny;
	}

	.small-size_l {
		@include button-small;
	}

	.medium-size_l {
		@include button-medium;
	}

	.large-size_l {
		@include button-large;
	}
}