@mixin input-tiny {
  font-size: 10px;
  line-height: 12px;
  min-height: 22px;
  padding: 4px 5px 4px 11px;
  gap: 4px;
}

@mixin input-small {
  font-size: 12px;
  line-height: 16px;
  min-height: 30px;
  padding: 6px 7px 6px 15px;
  gap: 8px;
}

@mixin input-medium {
  font-size: 14px;
  line-height: 20px;
  min-height: 38px;
  padding: 8px 9px 8px 15px;
  gap: 8px;
}

@mixin input-large {
  font-size: 16px;
  line-height: 24px;
  min-height: 46px;
  padding: 10px 11px 10px 23px;
  gap: 8px;
}

.auto-width {
  width: max-content;
  min-width: 100px;
}

.full-width {
  width: 100%;
}

.inputWrapper {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 48px;
  padding: 0;
  border: 1px solid #b1b5c3;
  box-sizing: border-box;

  & input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  & input {
    padding: 11px 12px 11px 23px;
    min-width: 50px;
    width: 100%;
    border: none;
    background: transparent;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

}

.inputWrapperPost,
.inputWrapperPre {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0 12px 0 0;

  & input {
    font-size: 16px;
    line-height: 24px;
  }
}

.inputWrapperPre {
  padding: 0 0 0 23px;
}

.light {
  background: #ffffff;
  border: 1px solid #b1b5c3;

  & input {
    color: #141416;

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px white inset;
      -webkit-text-fill-color: #141416;
      background-color: transparent;
    }

    &::placeholder {
      color: #b1b5c3;
    }
  }

  & span {
    color: #b1b5c3;
  }

  &:hover {
    border: 1px solid #777e90;
  }

  &:has(input:focus) {
    border: 1px solid #141416;
  }

  &:has(input:disabled) {
    background: #f4f5f6;
    border: 1px solid #e6e8ec;

    & input {
      color: #b1b5c3;

      &::placeholder {
        color: #b1b5c3;
      }
    }

    & span {
      color: #b1b5c3;
    }
  }
}

.gray {
  background: #E6E8EC;
  border: none;

  & input {
    color: #141416;

    &:-webkit-autofill {
      -webkit-box-shadow:0 0 0 1000px rgba(255, 255, 255, 0.3) inset;
      -webkit-text-fill-color: #141416;
      background-color: #777E90;
    }

    &::placeholder {
      color: #777E90;
    }
  }

  & span {
    color: #777E90;
  }

  &:has(input:disabled) {
    background: #f4f5f6;
    border: 1px solid #e6e8ec;

    & input {
      color: #b1b5c3;

      &::placeholder {
        color: #b1b5c3;
      }
    }

    & span {
      color: #b1b5c3;
    }
  }
}


.dark {
  background: #23262f;
  border: 1px solid #353945;

  & input {
    color: #ffffff;

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px #23262f inset;
      -webkit-text-fill-color: white;
      background-color: transparent;
    }

    &::placeholder {
      color: #777e90;
    }
  }

  & span {
    color: #777e90;
  }

  &:hover {
    border: 1px solid #777e90;
  }

  &:has(input:focus) {
    border: 1px solid #ffffff;
  }

  &:has(input:disabled) {
    background: #141416;
    border: 1px solid #353945;

    & input {
      color: #353945;

      &::placeholder {
        color: #353945;
      }
    }

    & span {
      color: #353945;
    }
  }

  &:has(input:invalid) {
    border: 1px solid #ec5353;
  }
}

.inputWrapperError {
  background: #FFEBEB;
  border: 1px solid #ec5353;

  &:hover {
    border: 1px solid #ec5353;
  }

  &:has(input:focus) {
    border: 1px solid #ec5353;
  }

  input {
    color: #ec5353;
  }
}

.inputWrapperErrorWithoutBorder {
  background: #FFEBEB;

  input {
    color: #ec5353;
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: #141416;
    background-color: #9c4a4a;
  }
}

.inputWrapperErrorDark {
  background: #322525;
  border: 1px solid #ec5353;

  &:hover {
    border: 1px solid #ec5353;
  }

  &:has(input:focus) {
    border: 1px solid #ec5353;
  }

  input {
    color: #ec5353;
  }
}

.checkBox {
  display: none;
}

.tiny-size_s {
  & input {
    @include input-tiny;
  }
}

.small-size_s {
  input {
    @include input-small;
  }
}

.medium-size_s {
  & input {
    @include input-medium;
  }
}

.large-size_s {
  & input {
    @include input-large;
  }
}

@media(min-width: 1024px) {
  .tiny-size_m {
    & input {
      @include input-tiny;
    }
  }

  .small-size_m {
    & input {
      @include input-small;
    }
  }

  .medium-size_m {
    & input {
      @include input-medium;
    }
  }

  .large-size_m {
    & input {
      @include input-large;
    }
  }
}

@media(min-width: 1440px) {
  .tiny-size_l {
    & input {
      @include input-tiny;
    }
  }

  .small-size_l {
    & input {
      @include input-small;
    }
  }

  .medium-size_l {
    & input {
      @include input-medium;
    }
  }

  .large-size_l {
    & input {
      @include input-large;
    }
  }
}