.root {
	display: flex;
	flex-direction: column;
	padding: 32px 24px 24px;
	border: 1px solid #e6e8ec;
	border-radius: 24px;
	box-sizing: border-box;
}

.lotImageWrapper {
	display: flex;
	justify-content: center;
}

.lotInfoWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 32px 0 0 0;
}

.infoHeader {
	font-family: inherit;
	font-size: 24px;
	line-height: 32px;
	font-weight: 500;
	letter-spacing: -0.01em;
	color: #141416;
}

.decor {
	display: none;

	& span {
		display: block;
	}
}

.lotPropertyListMobile {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.lotPropertyItem {
	display: flex;
	justify-content: space-between;
	font-family: inherit;
	font-size: 14px;
	line-height: 20px;
	padding: 8px 0;
	border-bottom: 1px solid #F4F5F6;

	& div:first-child {
		font-weight: 400;
		color: #353945;
	}

	& div:last-child {
		font-weight: 500;
		color: #141416;
	}
}

.lotPropertyListDesktop {
	display: none;
}

.lotPriceWrapper {
	font-family: inherit;
	font-size: 18px;
	line-height: 24px;
	margin: 16px 0 0 0;
}

.discountWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&>div:last-child {
		font-weight: 500;
		margin-left: auto;
		color: #141416;
	}
}

.discountPrice {
	display: flex;
	align-items: center;
	font-weight: 400;
	gap: 8px;
	color: #B1B5C3;

	& span {
		text-decoration: line-through;
		text-decoration-color: #EC5353;
	}
}

.lotPricePerMetr {
	width: max-content;
	display: none;
}

.btnWrapper {
	display: flex;
	gap: 8px;
	margin: 24px 0 0 0;
}

.fullscreenBtn {
	display: none;
}

@media(min-width: 1024px) {
	.root {
		flex-direction: row;
		gap: 32px;
		padding: 31px 30px 31px 32px;
	}

	.lotImageWrapper {
		& img {
			width: 148px;
			height: 106px;
		}
	}

	.lotInfoWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 0;
		margin: 0;
	}

	.decor {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 4px 0 0 0;
		font-family: inherit;
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		color: #777e90;
	}

	.lotPropertyListMobile {
		display: none;
	}

	.lotPropertyListDesktop {
		display: flex;
		gap: 8px;
		margin: 16px 0 0 0;
	}

	.lotPriceWrapper {
		font-size: 24px;
		line-height: 32px;
		margin: 0 0 0 auto;
	}

	.discountWrapper {
		gap: 12px;
	}

	.discountPrice {
		font-size: 14px;
		line-height: 20px;
		gap: 12px;
	}

	.lotPricePerMetr {
		display: block;
		margin: 0 0 0 auto;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #353945;
	}

	.btnWrapper {
		justify-content: flex-end;

		&>button:last-child {
			width: max-content;
		}
	}
}