.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e6e8ec;
  border-radius: 24px;
  box-sizing: border-box;
  background: #ffffff;
  min-height: 430px;

  .lotBtn {
    opacity: 1;
    font-weight: 500;
  }
}

.rootDisable {

  .lotImageWrapper,
  .lotInfoWrapper {
    opacity: 0.5;
  }

  .lotBtn {
    pointer-events: none;
  }
}


.lotImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lotInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 15px 0 0 0;
}


.infoHeader {
  font-family: inherit;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #141416;
}

.monthlyWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.monthlyPayment {
  font-size: 14px;
  line-height: 16px;
  color: #777e90;
}

.decor {
  display: none;

  & span {
    display: block;
  }
}

.lotPropertyListMobile {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.lotPropertyItem {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  padding: 8px 0;
  border-bottom: 1px solid #F4F5F6;

  & div:first-child {
    font-weight: 400;
    color: #353945;
  }

  &:not(:first-child) {
    padding: 7px 0;
  }

  & div:last-child {
    font-weight: 500;
    color: #141416;
  }
}

.lotPropertyListDesktop {
  display: none;
}

.lotPriceWrapper {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.discountWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &>div:last-child {
    font-weight: 500;
    margin-left: auto;
    color: #141416;
  }
}

.discountPrice {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 8px;
  color: #B1B5C3;

  & span {
    text-decoration: line-through;
    text-decoration-color: #EC5353;
  }
}

.snippetLast {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.snippet {
  color: #141416;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.tagsMobile {
  display: flex;
  gap: 4px;
}

.snippetLast::after {
  position: absolute;
  right: calc(-5px - 2px);
  top: calc(50% - 1.5px);
  content: '';
  width: 2px;
  height: 2px;
  background: #141416;
}

.discountTag {
  padding: 5px 6px;
}

.lotPricePerMetr {
  width: max-content;
  display: none;
}

.btnWrapper {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  margin: 24px 0 0 0;
}

.title {
  padding-bottom: 24px;
}

.snippets {
  display: flex;
  gap: 11px;
}

.retailSnippets {
  display: flex;
  gap: 4px;
}

.shownSnippets {
  list-style: none;
  margin: 0;
  padding: 0;
  width: max-content;
  display: flex;
  gap: 11px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #141416;

  & li {
    position: relative;

    &:not(:first-child)::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 2px;
      top: 50%;
      left: -5.5px;
      transform: translate(0, -50%);
      background: #141416;
    }
  }
}

.addSnippets {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  border-radius: 50%;
  color: #FFFFFF;
  background: #B1B5C3;
  cursor: pointer;
}

.addSnippetsList {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 250px;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 24px 24px 24px 31px;
  border-radius: 24px;
  backdrop-filter: blur(12px);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  background: #141416CC;

  & li {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 2px;
      height: 2px;
      left: -5.5px;
      top: 50%;
      transform: translate(0, -50%);
      backdrop-filter: blur(12px);
      background: #141416CC;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%, 0) rotate(180deg);
    width: 32px;
    height: 16px;
    backdrop-filter: blur(12px);
    background: #141416CC;
    clip-path: polygon(50% 0%, 60% 35%, 66% 53%, 76% 72%, 100% 100%, 46% 100%, 0 100%, 22% 77%, 34% 53%, 40% 35%);
  }
}

.closeSnippetBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.rootRow {
  min-height: unset;
  gap: 32px;
  flex-direction: row;
}

.lotImageWrapper {
  height: 100%;
}

@media(min-width: 1024px) {
  .tagsMobile {
    display: none;
  }

  .snippet {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .snippetLast {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .root {
    padding: 31px 30px 31px 32px;
    transition: box-shadow 0.3s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        box-shadow: 0px 5px 12px 0px #0000001F, 0px 21px 21px 0px #0000001A, 0px 48px 29px 0px #0000000F, 0px 85px 34px 0px #00000005, 0px 132px 37px 0px #00000000;
      }
    }
  }

  .lotImageWrapper {
    & img {
      width: 148px;
      height: 106px;
    }
  }

  .lotInfoWrapper {
    justify-content: space-between;
    gap: 0;
    margin: 0;
  }

  .monthlyWrapper {
    justify-content: flex-start;
  }

  .decor {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 4px 0 0 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    min-height: 24px;
    color: #777e90;
  }

  .lotPropertyListMobile {
    display: none;
  }

  .lotPropertyListDesktop {
    display: flex;
    gap: 8px;
    margin: 16px 0 0 0;
  }

  .lotPriceWrapper {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 0 auto;
  }

  .lotPriceWrapperRow {
    width: unset;
    margin: unset;

    .btnWrapper {
      order: 1;

      &>button:last-child {
        width: 100%;
      }
    }

    .fullscreenBtn {
      order: 2;
    }
  }

  .discountWrapper {
    gap: 12px;
  }

  .discountPrice {
    font-size: 14px;
    line-height: 20px;
    gap: 12px;
  }

  .lotPricePerMetr {
    display: block;
    margin: 0 0 0 auto;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #353945;
  }

  .projectLotPricePerMetr {
    display: none;
  }

  .btnWrapper {
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;

    &>button:last-child {
      width: max-content;
    }
  }

  .fullscreenBtn {
    display: block;
  }

  .shownSnippets {
    font-size: 16px;
    line-height: 24px;
  }

  .addSnippets {
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media(min-width: 1440px) {
  .snippets {
    padding-top: 4px;
  }

  .closeSnippetBtn {
    display: none;
  }
}