@mixin tag-tiny {
	font-size: 10px;
	line-height: 12px;
	min-height: 24px;
	padding: 5px;
	gap: 4px;
}

@mixin tag-small {
	font-size: 12px;
	line-height: 16px;
	min-height: 32px;
	padding: 8px 16px;
	gap: 4px;
}

@mixin tag-medium {
	font-size: 14px;
	line-height: 20px;
	min-height: 40px;
	padding: 10px 16px;
	gap: 8px;
}

@mixin tag-preLarge {
	font-size: 14px;
	line-height: 20px;
	min-height: 44px;
	padding: 12px 24px;
	gap: 10px;
}

@mixin tag-large {
	font-size: 16px;
	line-height: 24px;
	min-height: 48px;
	padding: 12px 24px;
	gap: 8px;
}

.tagCommon {
	font-family: inherit;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid transparent;
	border-radius: 48px;

	&:disabled {
		opacity: 0.2;
	}
}

.auto-width {
	width: max-content;
}

.full-width {
	width: 100%;
}

.medium-size {
	@include tag-medium;
}

.tiny-size {
	@include tag-tiny;
}

.small-size {
	@include tag-small;
}

.preLarge-size {
	@include tag-preLarge;
}

.large-size {
	@include tag-large;
}

.red {
	background: #ec5353;
	border: 1px solid #ec5353;
	color: #ffffff;
}

.gray {
	background: #f4f5f6;
	border: none;
	color: #353945;
}

.shade {
	background: #141416cc;
	border: none;
	color: #ffffff;
}

.blackGrey {
	background-color: #23262f;
	border: none;
	color: #e6e8ec;
}

.chineseBlack {
	background-color: #141416;
	border: none;
	color: #ffffff;
}

@media(min-width: 1024px) {
	.tiny-size_m {
		@include tag-tiny;
	}

	.medium-size_m {
		@include tag-medium;
	}

	.small-size_m {
		@include tag-small;
	}

	.preLarge_size_m {
		@include tag-preLarge;
	}

	.large-size_m {
		@include tag-large;
	}
}

@media(min-width: 1440px) {
	.tiny-size_l {
		@include tag-tiny;
	}

	.medium-size_l {
		@include tag-medium;
	}

	.small-size_l {
		@include tag-small;
	}

	.preLarge-size_l {
		@include tag-preLarge;
	}

	.large-size_l {
		@include tag-large;
	}
}