@font-face {
  font-family: 'tt-hoves-pro';
  font-weight: 400;
  src: local('tt-hoves-pro'), url('../assets/fonts/TT_Hoves_Pro_Regular.woff2') format('truetype');
}
@font-face {
  font-family: 'tt-hoves-pro';
  font-weight: 500;
  src: local('tt-hoves-pro'), url('../assets/fonts/TT_Hoves_Pro_Regular.woff2') format('truetype');
}
