.root {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #E6E8EC;

	& svg {
		position: relative;
		top: -2px;
	}
}

.filterWithSaveModal {
	top: -64px;
	align-items: flex-end;
}

.modalAddBody {
	position: relative;
	width: 100%;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	padding: 0 0 24px 0;
	background: #ffffff;
}

.closeBtn {
	position: absolute;
	top: 24px;
	right: 24px;
}

.btnName {
	display: none;
}

.modalTitle {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	padding: 24px;
	color: #000000;
	border-bottom: 1px solid #E6E8EC;
}

.tabSWitcherWrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 24px;
	border-bottom: 1px solid #E6E8EC;
}

.switcherTitle {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #141416;
}

.switcherScroll {
	overflow-x: scroll;
}

.tabs {
	flex-wrap: wrap;
	gap: 4px;
}

.selectWrapper {
	padding: 24px;
}

.filterOption {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #141416;
}

.btnWrapper {
	display: flex;
	gap: 9px;
	padding: 0 24px;
}

.resetBtn,
.saveBtn {
	flex: 1;
}

.desktopWrapper {
	display: none;
}

@media(min-width: 1024px) {
	.root {
		position: relative;
		width: 90px;
		height: 32px;
		gap: 8px;
		border-radius: 48px;
	}

	.btnName {
		display: block;
		font-size: 12px;
		line-height: 16px;
		font-weight: 500;
		color: #141416;
	}

	.desktopWrapper {
		display: none;
	}

	.desktopWrapperOpen {
		display: block;
		position: absolute;
		top: 40px;
		right: -1px;
		width: 375px;
		min-height: 420px;
		border-radius: 24px;
		border: 1px solid #E6E8EC;
		background: #FFFFFF;
		z-index: 1;
		box-shadow: 0px 5px 12px 0px #0000001F, 0px 21px 21px 0px #0000001A, 0px 48px 29px 0px #0000000F, 0px 85px 34px 0px #00000005, 0px 132px 37px 0px #00000000;
	}

	.modalTitle {
		display: none;
	}

	.closeBtn {
		display: none;
	}

	.tabSWitcherWrapper {
		padding: 32px 24px 24px;
	}

	.switcherScroll {
		overflow-x: unset;
	}
}

@media(min-width: 1440px) {
	.root {
		width: 109px;
		height: 40px;
	}

	.btnName {
		font-size: 14px;
		line-height: 20px;
	}
}