.root {
  background: #0e0e0e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  svg {
    cursor: pointer;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
  align-items: center;
  width: 100%;

}

.topSide {
  display: flex;
  gap: 26px;
  align-items: center;
}

.search {
  position: relative;
  width: 80%;
  @media (min-width: 1024px) {
    margin-left: 40px;
    width: 35%;
  }
  display: flex;
  align-items: center;
}

.searchInp {
  width: 100%;
  background: #252525;
  border-radius: 20px;
  height: 34px;
  border: solid 1px #303030;
  padding: 2px 2px 2px 50px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.searchInp::placeholder {
  font-weight: 500;
}

.searchInp:focus {
  outline: solid 1px #434343;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: calc(50% - 11px);
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  padding: 2px;
  border-radius: 100px;
  background: #767676;
  border: none;

  top: calc(50% - 11px);
  right: 10px;

  &:hover {
    background: #979797
  }
}