.root {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.tabsShort {
	max-width: 350px;
}

.tabSelectWrapper {
	margin: 0 auto;
}

.destinationWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 auto;
}