.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  overflow: auto;
  box-sizing: border-box;
}

.modalBody {
  position: absolute;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.isTransparentBack {
  opacity: 0.5;
}
