.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 105;
  box-sizing: border-box;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;

  &.modalVisible {
    opacity: 1;
    pointer-events: auto;
  }
}

.modalBody {
  overflow: auto;
  position: absolute;
}

.modalOverlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s ease;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.isTransparentBack {
  background: black;
}