.root {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	padding: 40px;
	border-radius: 48px;
	background: #d1cca9;

	&>div {
		flex: 1 0 0;
	}
}

.buttonsWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
