.root {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px 20px;
	background: pink;
	margin: 0 0 40px 0;
}

.link {
	padding: 10px 15px;
	border-radius: 24px;
	color: blueviolet;
	text-decoration: none;
	background: orange;
}